==
<div class="nav-container"><nav>
		        <div class="nav-utility">
		            <div class="module left">
		                <i class="ti-location-arrow">&nbsp;</i>
		                <span class="sub">No: 2 Yakoyo road saaboo Ikeja Lagos </span>
		            </div>
		            <div class="module left">
		                <i class="ti-email">&nbsp;</i>
		                <span class="sub">ella@gmail.com</span>
		            </div>
		            <div class="module right">
		                <a class="btn btn-sm" href="/login">Sign Up</a>
		            </div>
		        </div>
		        <div class="nav-bar nav-open">
		            <div class="module left">
		                <a href="index.html">
		                    <img class="logo logo-light" alt="Foundry" src="themes/demo/assets/images/ella.png">
		                    <div class="vnu"><img class="logo logo-dark" alt="Foundry" src="themes/demo/assets/images/ella.png"></div>
		                </a>
		            </div>
		            <div class="module widget-handle mobile-toggle right visible-sm visible-xs active toggle-widget-handle">
		                <i class="ti-menu"></i>
		            </div>
		            <div class="module-group right">
		                <div class="module left">
		                    <ul class="menu">
		                        <li>
		                            <a href="/home">Home</a>
		                        </li><li class="vpf">
		                            <a href="#">About</a>
		                        </li><li class="vpf">
		                            <a href="#contact" class="inner-link" target="_self">Contact<br><br></a>
		                        </li><li class="vpf">
		                            <a href="#" class="inner-link" target="_self">Gallary<br><br><br><br></a>
		                       </li>
		                        <li class="has-dropdown">
		                            <a href="#">
		                                Children
		                            </a>
		                            <ul class="mega-menu">
		                                <li>
		                                    <ul>
		                                        <li>
		                                            <a href="/children_toys">Toys</a>
		                                        </li>
		                                        <li>
		                                            <a href="/children_wears">Wears</a>
		                                        </li>
		                                    </ul>
		                                </li>
		                                <li>
		                                    <ul>
		                                        <li>
		                                            <a href="/children_shoes">Shoes</a>
		                                        </li>
		                                        <li>
		                                            <a href="/children_sneakers">Sneakers</a>
		                                        </li>
		                                    </ul>
		                                </li>
		                            </ul>
		                        </li>
		                        
		                        
<!--                                  Wemen Drop down Menue
 -->		                         <li class="has-dropdown">
		                            <a href="">
		                                Women
		                            </a>
		                            <ul class="mega-menu">
		                                <li>
		                                    <ul>
		                                        <li>
		                                            <a href="/women_jewelries">Jewelries</a>
		                                        </li>
		                                        <li>
		                                            <a href="/women-wears">Wears</a>
		                                        </li>
		                                    </ul>
		                                </li>
		                                <li>
		                                    <ul>
		                                        <li>
		                                            <a href="/women_shoes">Shoes</a>
		                                        </li>
		                                        <li>
		                                            <a href="/women_hand-bags">Hand Bags</a>
		                                        </li>
		                                    </ul>
		                                </li>
		                            </ul>
		                        </li>
		                        
		                       <!--  Men Drop Dow Menu -->
		                         <li class="has-dropdown">
		                            <a href="#">
		                                Men
		                            </a>
		                            <ul class="mega-menu">
		                                <li>
		                                    <ul>
		                                        <li>
		                                            <a href="/men_accessories">Accessories</a>
		                                        </li>
		                                        <li>
		                                            <a href="/men_wears">Wears</a>
		                                        </li>
		                                    </ul>
		                                </li>
		                                <li>
		                                    <ul>
		                                        <li>
		                                            <a href="/men_shoes">Shoes</a>
		                                        </li>
		                                        <li>
		                                            <a href="/men_sneakers">Sneaker</a>
		                                        </li>
		                                    </ul>
		                                </li>
		                            </ul>
		                        </li>
		                        
		                        
		                        
		                        
		                        <li class="vpf">
		                            <a href="#" class="inner-link" target="_self">Place Order<br><br><br><br><br></a>
		                        </li>
		                </div>
		                
		                
		            </div>
		            
		        </div>
		    </nav>
		    

		    
		
		</div>